# Mozilla/5.0 (Windows NT 5.2; rv:8.0.1) Gecko/20100101 Firefox/8.0.1

-moz-animation-delay: 0s;
-moz-animation-direction: normal;
-moz-animation-duration: 0s;
-moz-animation-fill-mode: none;
-moz-animation-iteration-count: 1;
-moz-animation-name: none;
-moz-animation-play-state: running;
-moz-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
-moz-appearance: none;
-moz-backface-visibility: ;
-moz-background-inline-policy: continuous;
-moz-binding: none;
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-box-align: stretch;
-moz-box-direction: normal;
-moz-box-flex: 0;
-moz-box-ordinal-group: 1;
-moz-box-orient: horizontal;
-moz-box-pack: start;
-moz-box-sizing: content-box;
-moz-column-count: auto;
-moz-column-gap: 13px;
-moz-column-rule-color: rgb(0, 0, 0);
-moz-column-rule-style: none;
-moz-column-rule-width: 0px;
-moz-column-width: auto;
-moz-float-edge: content-box;
-moz-font-feature-settings: normal;
-moz-font-language-override: normal;
-moz-force-broken-image-icon: 0;
-moz-hyphens: manual;
-moz-image-region: auto;
-moz-orient: horizontal;
-moz-outline-radius-bottomleft: 0px;
-moz-outline-radius-bottomright: 0px;
-moz-outline-radius-topleft: 0px;
-moz-outline-radius-topright: 0px;
-moz-perspective-origin: ;
-moz-perspective: ;
-moz-stack-sizing: stretch-to-fit;
-moz-tab-size: 8;
-moz-text-blink: none;
-moz-text-decoration-color: rgb(0, 0, 0);
-moz-text-decoration-line: none;
-moz-text-decoration-style: solid;
-moz-transform-origin: 50% 50%;
-moz-transform: none;
-moz-transition-delay: 0s;
-moz-transition-duration: 0s;
-moz-transition-property: all;
-moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
-moz-user-focus: none;
-moz-user-input: auto;
-moz-user-modify: read-only;
-moz-user-select: auto;
-moz-window-shadow: default;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(244, 244, 244);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(221, 221, 221);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
border-spacing: 0px 0px;
border-top-color: rgb(221, 221, 221);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
bottom: auto;
box-shadow: none;
caption-side: top;
clear: none;
clip-path: none;
clip-rule: nonzero;
clip: auto;
color-interpolation-filters: linearrgb;
color-interpolation: srgb;
color: rgb(0, 0, 0);
content: none;
counter-increment: none;
counter-reset: none;
cursor: auto;
direction: ltr;
display: block;
dominant-baseline: auto;
empty-cells: show;
fill-opacity: 1;
fill-rule: nonzero;
fill: rgb(0, 0, 0);
filter: none;
float: none;
flood-color: rgb(0, 0, 0);
flood-opacity: 1;
font-family: monospace;
font-size-adjust: none;
font-size: 13px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 400;
height: 0px;
image-rendering: auto;
ime-mode: auto;
left: auto;
letter-spacing: normal;
lighting-color: rgb(255, 255, 255);
line-height: 16px;
list-style-image: none;
list-style-position: outside;
list-style-type: disc;
margin-bottom: 13px;
margin-left: 0px;
margin-right: 0px;
margin-top: 13px;
marker-end: none;
marker-mid: none;
marker-offset: auto;
marker-start: none;
mask: none;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
opacity: 1;
outline-color: rgb(0, 0, 0);
outline-offset: 0px;
outline-style: none;
outline-width: 0px;
overflow-x: visible;
overflow-y: visible;
overflow: visible;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
page-break-after: auto;
page-break-before: auto;
pointer-events: auto;
position: static;
quotes: "" "" "" "";
resize: none;
right: auto;
shape-rendering: auto;
stop-color: rgb(0, 0, 0);
stop-opacity: 1;
stroke-dasharray: none;
stroke-dashoffset: 0px;
stroke-linecap: butt;
stroke-linejoin: miter;
stroke-miterlimit: 4;
stroke-opacity: 1;
stroke-width: 1px;
stroke: none;
table-layout: auto;
text-align: start;
text-anchor: start;
text-decoration: none;
text-indent: 0px;
text-overflow: clip;
text-rendering: auto;
text-shadow: none;
text-transform: none;
top: auto;
unicode-bidi: embed;
vertical-align: baseline;
visibility: visible;
white-space: pre;
width: 1882px;
word-spacing: 0px;
word-wrap: normal;
z-index: auto;

