# Mozilla/5.0 (Macintosh; U; PPC Mac OS X; en) AppleWebKit/412 (KHTML, like Gecko) Safari/412

background-attachment: inherit;
background-color: inherit;
background-image: inherit;
background-position-x: inherit;
background-position-y: inherit;
background-position: inherit;
background-repeat: inherit;
border-bottom-color: inherit;
border-bottom-style: inherit;
border-bottom-width: inherit;
border-collapse: inherit;
border-left-color: inherit;
border-left-style: inherit;
border-left-width: inherit;
border-right-color: inherit;
border-right-style: inherit;
border-right-width: inherit;
border-spacing: inherit;
border-top-color: inherit;
border-top-style: inherit;
border-top-width: inherit;
bottom: inherit;
caption-side: inherit;
clear: inherit;
clip: inherit;
color: inherit;
content: inherit;
counter-increment: inherit;
counter-reset: inherit;
cursor: inherit;
direction: inherit;
display: inherit;
empty-cells: inherit;
float: inherit;
font-family: inherit;
font-size: inherit;
font-stretch: inherit;
font-style: inherit;
font-variant: inherit;
font-weight: inherit;
height: inherit;
left: inherit;
letter-spacing: inherit;
line-height: inherit;
list-style-image: inherit;
list-style-position: inherit;
list-style-type: inherit;
margin-bottom: inherit;
margin-left: inherit;
margin-right: inherit;
margin-top: inherit;
max-height: inherit;
max-width: inherit;
min-height: inherit;
min-width: inherit;
opacity: inherit;
orphans: inherit;
outline-color: inherit;
outline-offset: inherit;
outline-style: inherit;
outline-width: inherit;
overflow: inherit;
padding-bottom: inherit;
padding-left: inherit;
padding-right: inherit;
padding-top: inherit;
page-break-after: inherit;
page-break-before: inherit;
page-break-inside: inherit;
position: inherit;
quotes: inherit;
right: inherit;
scrollbar-3dlight-color: inherit;
scrollbar-arrow-color: inherit;
scrollbar-darkshadow-color: inherit;
scrollbar-face-color: inherit;
scrollbar-highlight-color: inherit;
scrollbar-shadow-color: inherit;
scrollbar-track-color: inherit;
size: inherit;
table-layout: inherit;
text-align: inherit;
text-decoration: inherit;
text-indent: inherit;
text-overflow: inherit;
text-shadow: inherit;
text-transform: inherit;
top: inherit;
unicode-bidi: inherit;
vertical-align: inherit;
visibility: inherit;
white-space: inherit;
widows: inherit;
width: inherit;
word-spacing: inherit;
word-wrap: inherit;
z-index: inherit;
