# Mozilla/5.0 (Macintosh; U; PPC Mac OS X; en) AppleWebKit/523.12 (KHTML, like Gecko) Version/3.0.4 Safari/523.12

-webkit-appearance: none;
-webkit-background-clip: border;
-webkit-background-composite: source-over;
-webkit-background-origin: padding;
-webkit-background-size: auto auto;
-webkit-border-bottom-left-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-fit: border;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-webkit-border-vertical-spacing: 0px;
-webkit-box-align: stretch;
-webkit-box-direction: normal;
-webkit-box-flex-group: 1;
-webkit-box-flex: 0;
-webkit-box-lines: single;
-webkit-box-ordinal-group: 1;
-webkit-box-orient: horizontal;
-webkit-box-pack: start;
-webkit-box-shadow: none;
-webkit-box-sizing: content-box;
-webkit-column-break-after: auto;
-webkit-column-break-before: auto;
-webkit-column-break-inside: auto;
-webkit-column-count: auto;
-webkit-column-gap: normal;
-webkit-column-rule-color: rgb(0, 0, 0);
-webkit-column-rule-style: none;
-webkit-column-rule-width: 0px;
-webkit-column-width: auto;
-webkit-dashboard-region: null;
-webkit-highlight: none;
-webkit-line-break: normal;
-webkit-line-clamp: none;
-webkit-margin-bottom-collapse: collapse;
-webkit-margin-top-collapse: collapse;
-webkit-marquee-direction: auto;
-webkit-marquee-increment: 6px;
-webkit-marquee-repetition: infinite;
-webkit-marquee-style: scroll;
-webkit-nbsp-mode: normal;
-webkit-rtl-ordering: logical;
-webkit-text-decorations-in-effect: none;
-webkit-text-fill-color: rgb(0, 0, 0);
-webkit-text-security: none;
-webkit-text-stroke-color: rgb(0, 0, 0);
-webkit-text-stroke-width: 0;
-webkit-user-drag: auto;
-webkit-user-modify: read-only;
-webkit-user-select: text;
background-attachment: scroll;
background-color: rgb(244, 244, 244);
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
border-bottom-color: rgb(221, 221, 221);
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(221, 221, 221);
border-top-style: solid;
border-top-width: 1px;
bottom: auto;
caption-side: top;
clear: none;
color: rgb(0, 0, 0);
cursor: auto;
direction: ltr;
display: block;
empty-cells: show;
float: none;
font-family: Courier;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 0px;
left: auto;
letter-spacing: normal;
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: disc;
margin-bottom: 13px;
margin-left: 0px;
margin-right: 0px;
margin-top: 13px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
opacity: 1;
orphans: 2;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
page-break-after: auto;
page-break-before: auto;
page-break-inside: auto;
position: static;
resize: none;
right: auto;
table-layout: auto;
text-align: auto;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
unicode-bidi: normal;
vertical-align: baseline;
visibility: visible;
white-space: pre;
widows: 2;
width: 762px;
word-spacing: 0px;
word-wrap: normal;
z-index: auto;
